.fas.fa-star {
	color: rgb(249, 213, 86);
}

.btn-light {
	background-color: white;
	border-color: rgb(230, 230, 230);
}
.btn-light:hover {
	background-color:#e2e6ea;
}
.container {
	margin-bottom: 20px;
}

.highlight {
	background-color: rgb(245, 218, 152);
}
.table-hover {
	overflow-y: scroll;
}
th {
	white-space: nowrap;
}
td {
	white-space: nowrap;
}
.y-scroll {
  overflow-y: scroll;
}